<div class="login-form">
  <div class="input-group">
    <div class="p-float-label">
      <input id="full-name" [(ngModel)]="user.fullName" type="text" pInputText/>
      <label for="full-name">Full name</label>
    </div>
    <div class="p-float-label">
      <input id="email" [(ngModel)]="user.email" type="email" name="email"
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" email pInputText/>
      <label for="email">Email</label>
    </div>
    <div class="p-float-label">
      <p-password id="password" [(ngModel)]="user.password"></p-password>
      <label for="password">Password</label>
    </div>
  </div>
  <button pButton type="button" (click)="onSubmit()" label="Submit" class="submit-btn"></button>
</div>
