.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  .input-group {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .submit-btn {
    margin-top: 1rem;
  }
}
